Package: com.haoict.weatherplus
Name: Weather Plus
Depends: mobilesubstrate, preferenceloader, com.haoict.libhdev (>= 4.2.0), firmware (>= 10)
Version: 1.1.0
Architecture: iphoneos-arm
Description: Free & Open Source Tweak for Weather App
 Free & Open Source Tweak for Weather App
 Change log: https://github.com/haoict/weather-plus/releases
 . 
 Features:
 - Add the date next to each day
 - Custom format (dd/MM, MM/dd, etc,...)
 - Support iOS 10-13 & latest Weather app version
 . 
 I collect uuid for better support and statistic purpose
 . 
 I work very hard to make good, free and open source tweaks for everyone
 If you want to support, you can buy me a coffee at https://www.paypal.me/haoict
 . 
 Thanks a ton
Maintainer: Hao Nguyen
Author: Hao Nguyen
Section: Tweaks
